.shcool__description {
  font-family: "Neue Machina Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242424;
  max-width: 591px;
  margin-top: 0;
  margin-bottom: 0;
}
