.shcool__subtitle {
  font-family: "Neue Machina Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0 0 212px 180px;
  max-width: 418px;
}
