.school {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

@media screen and (max-width: 1279px) {
  .school {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
