.pagination{
  list-style-type: none;
  margin: 15px 0 0 5px;
  padding: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 479px) {
.pagination{
  margin: 0;
  margin-left: 3px;
}
}