.review__page{
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 1px solid #242424;
  border-radius: 100%;
  margin-right: 16px;
  cursor: pointer;
  box-sizing: border-box;
}
.review__page:last-of-type{
  margin-right: 0;
}