.footer__partner_type_prokhorov{
  grid-area: prokhorov;
}

@media screen and (max-width: 479px) {
  .footer__partner_type_prokhorov{
    height: 40px;
    padding-top: 6px;
    padding-left: 19px;
  }
}